<div class="title">
  <div class="overlay">
    <h1>AI-Syllabusへようこそ！</h1>
    <p>あらゆるAIツールを一目で比較・検討</p>
  </div>
</div>

<section>
  <div class="container mt-5 mb-5">
    <h2>
      メディアを利用する <span class="highlight-blue">3つのポイント</span>
    </h2>
  </div>

<div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-header">シンプルな検索</h5>
            <ul class="list-unstyled mt-3">
              <li></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-header">詳細の比較</h5>
            <ul class="list-unstyled mt-3">
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-header">信頼性</h5>
            <ul class="list-unstyled mt-3">
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="top_page_categories">
  <h2>カテゴリ一覧</h2>
  <ul>
    <% @categories.each do |category| %>
    <li><%= link_to category.category, category_path(category)%></li>
    <% end %>
  </ul>
</section>

<section class = "top_page_ai_product">
  <h2> ピックアップ製品 </h2>
  <ul>
      <% @ai_products.each do |ai_product| %>
        <li><%= link_to ai_product.product_name, ai_product_path(ai_product) %></li>
      <% end %>
  </ul>
</section>


  