<header>
  <h1>AI-Syllabusへようこそ！</h1>
  <p>あらゆるAIツールを一目で比較・検討</p>
</header>
<section>
  <h2>メディアを利用する3つのポイント</h2>
  <div class="points">
    <div>
      <i class="fa-solid fa-magnifying-glass"></i>
      <p>シンプルな検索</p>
    </div>
    <div>
      <i class="fa-solid fa-sliders"></i>
      <p>詳細な比較</p>
    </div>
    <div>
      <i class="fas fa-user-check fa-2x"></i>
      <p>信頼性の高いレビュー</p>
    </div>
  </div>
</section>
<section class="categories">
  <h2>カテゴリ一覧</h2>
  <ul>
    <% @categories.each do |category| %>
    <li><a><%= category.category %></a></li>
    <% end %>
  </ul>
</section>

    <h2 class="text-center mb-4">人気のプロダクト</h2>
    <div class="card-group">
      <div class="d-flex">
      <% @ai_products.each do |ai_product| %>
        <div class="card h-100" style="min-width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body flex-column">
            <h5 class="card-title"><%= ai_product.product_name %></h5>
            <p class="card-text flex-grow-1"><%= ai_product.description %></p>
            <a href="#" class="btn btn-primary mt-auto">Go somewhere</a>
          </div>
        </div>
      <% end %>
      </div>
    </div>
