<section class="container-fluid my-4">
  <div class="row">
    <div class="col-md-6">
      <img src="#" alt="製品画像" class="img-fluid">
    </div>
    <div class="col-md-6">
      <div class="aiproduct-wrapper">
        <h1 class="heading"><%= @ai_product.product_name %></h1>
        <p class="description"><%= @ai_product.description %></p>
      </div>
    </div>
  </div>
</section>
  <div class = "mt-5">
    <h2 class="">製品スペック</h2>
      <ul class="list-group">
        <li class="list-group-item">Item #1</li>
        <li class="list-group-item">Item #2</li>
      </ul>
  </div>
  <div class="mt-5">
    <h2 class="">運営企業情報</h2>
      <ul class="list-group">
        <li class="list-group-item">企業名</li>
        <li class="list-group-item">所在地</li>
        <li class="list-group-item">連絡先</li>
      </ul>
  </div>
  <div class="">
    <table class="table mt-5">
      <thead>
        <tr>
          <th scope="col">無料トライアル</th>
          <th scope="col">利用料金</th>
          <th scope="col">初期費用</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
      </tbody>
    </table>
  </div>
    <div class="mt-5">
      <h2 class="">よくある質問</h2>
        <ul class="list-group">
          <li class="list-group-item">質問1</li>
          <li class="list-group-item list-group-item-warning">回答</li>
          <li class="list-group-item">質問2</li>
          <li class="list-group-item list-group-item-warning">回答</li>
          <li class="list-group-item">質問3</li>
          <li class="list-group-item list-group-item-warning">回答</li>
        </ul>
    </div>