/* タイトルのCSS */
.title {
  position: relative;
  background-image: url("assets/title_image.jpg");
  background-size: cover;
  background-color:rgba(255,255,255,0.8);
  background-position: center;
  color: white;
  text-align: center;
  padding: 4rem 0;
}

.title .overlay {
  position: relative;
  z-index: 2;
}

.title h1 {
  font-size: 4rem;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* 文字の影 */
}

.title p {
  font-size: 1.8rem;
  margin: 1rem 0 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* 文字の影 */
}

.highlight-blue {
  color: #007bff;
  font-weight: bold;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  background-color: #fff;
}
.card-header {
  font-weight: bold;
  text-align: center;
  color: #007bff;
  background-color: #fff;

}/* app/assets/stylesheets/application.css */



.search-container {
  padding: 32px;
}
.search-container .search-box {
  max-width: 400px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}
.search-container input[type="text"] {
  border: 1px solid #CBD5E0;
  padding: 8px;
  width: 100%;
  border-radius: 4px;
}

section {
  padding: 24px;
}
section h2 {
  font-size: 24px;
  color: #1A202C;
  text-align: center;
}

.top_page_categories {
  background-color: white;
  padding: 20px 20px;
  border-radius: 8px;
  margin: 32px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.top_page_categories h2 {
  text-align: center;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.top_page_categories ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin: 0 auto;
}

.top_page_categories li {
  margin: 10px; /* 各項目の間に余白を追加 */
  display: flex;
  justify-content: center;
}

.top_page_categories a {
  display: inline-block;
  padding: 15px 20px;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1.1em;
  text-align: center;
  background-color: #ffffff; /* リンクの背景色を白に */
}

.top_page_categories a:hover {
  background-color: #1E90FF;
  color: #fff;
}

.top_page_ai_product {
  background-color: white;
  padding: 20px 20px;
  border-radius: 8px;
  margin: 32px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.top_page_ai_product h2 {
  text-align: center;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.top_page_ai_product ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin: 0 auto;
}

.top_page_ai_product li {
  display: flex;
  margin: 10px;
  justify-content: center;
}

.top_page_ai_product a {
  display: inline-block;
  padding: 15px 20px;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1.1em;
  text-align: center;
  background-color: #ffffff; 
}

.top_page_ai_product a:hover {
  background-color: #1E90FF;
  color: #fff;
}

/* フッター */

footer {
  margin-top: auto;
  background-color: white;
  padding: 16px;
  text-align: center;
}