<nav class="pc-nav">
    <ul>
        <li style="width:113px; text-align:center;"><%= link_to "トップページ", root_path, class: "nav-link"%></li>
        <li style="width:113px; text-align:center;"><%= link_to "製品検索", ai_products_path, class: "nav-link"%></li>
        <li style="width:113px; text-align:center;"><%= link_to "お問い合わせ", inquiry_path, class: "nav-link"%></li>
    </ul>
</nav>