<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AI-Syllabus</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
  <body>
    <%= render 'layouts/nav' %>
    <%= yield %>
    <footer>
    <%= render 'layouts/footer'%>
    </footer>
  </body>
</html>
